<%- include('head') %>

    <div>
        <h1>ユーザー管理</h1>
        <table>
            <thead class="tbaleHead">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>password</th>
                <th>edit</th>
                <th>delete</th>
            </thead>
            <% userTable.forEach((user) => { %>
                <tbody>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.password %></td>
                    <td><a href="/edit/<%= user.id %>">編集</a></td>
                    <form action="/delete/<%= user.id %>" method="post">
                        <td><input type="submit" value="削除"></td>
                    </form>
                </tbody>
            <% }) %>
        </table>
    </div> 
    <div>
        <a href="/">トップページへ戻る</a>
    </div>
    
</body>
</html>